.service {
    width: 100%;
    height: calc(100vh - 25vh); /* this is based on the height of the 
                                   header bar in the App.jsx file */
    background: #010101;

    display: flex;
    flex-direction: row;
}
