<!DOCTYPE html>
<meta charset="UTF-8">
<title>Sunrise Dev</title>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "a a"
        "b c"
    ;
    grid-template-rows:
        8vh
        1fr
    ;
    grid-template-columns:
        20vw 1fr
    ;
}

.a { grid-area: a; width: 100%; height: 100%; align-self: start; justify-self: start; }
.b { grid-area: b; width: 100%; height: 100%; align-self: start; justify-self: start; }
.c { grid-area: c; width: 100%; height: 100%; align-self: start; justify-self: start; }

.missions {
    border-right: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#navbar {
    background: black;
    border-bottom: 1px solid darkgray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}

.missionButton {
    border: 1px solid gray;
    background: gray;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    height: 40px;
    padding: 4px;
}


</style>
<link
    rel=stylesheet
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
>
<div class="App" style="display: grid; align-content: center; align-items: center; justify-content: center; justify-items: center;">
    <!-- <div class="App__main js--map"></div> -->
    <nav class="a" id="navbar">
        Sunrise Demo
    </nav>
    <div class="b missions" id="mission_list">
        <button id="observation" class="missionButton">Observation</button>
    </div>
    <div class="c"
        id="hyperimage"
        style="width: 512px; height: 512px"
    ></div>
    <!-- This is the map of tiles -->
    <!-- <div
        class="c"
        id="hyperimage"
        style="width: 1028px; height: 912px; z-index: 100;position: relative;"
        >
        </div>
    </div> -->
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
<script src="./static/sylvester.src.js"></script>
<script src="./static/math.js"></script>
<script type="importmap">
{
    "imports": {
        "three": "https://unpkg.com/three@0.155.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.155.0/examples/jsm/",
        "arcball": "./static/arcball.js",
        "trackball": "./static/trackball.js",
        "tapestry-arcball": "./static/tapestry-arcball.js",
        "path": "./static/path.js",
        "utils": "./static/utils.js",
        "d3": "https://d3js.org/d3.v5.min.js"
    }
}
</script>
<script
    type="module"
    src="static/index.js"
></script>
