.container {
    height: 10vh;
    width: 100vw;

    background: #000;
    border-top: 1px solid #1e1e1e;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}


.species {
    height: 80%;
    width: 30%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
}

.mapcontrols {
    height: 80%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
}

/* Vertical line barrier to separate sections */
.verticalMarker {
    height: 80%;
    width: 2px;
    background-color: #1e1e1e;
}

.controlsHeader {
    color: white;
    font-size: 1rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.mapSelections {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.urlLabel {
    color: white;
}

.rendererSelections {
    width: 30%;
    height: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* RELATED SPECIES DIALOG */
.species_info_container {
    height: 80vh;
    width: 80vw;
}

.species_info {
    font-size: 16px;
    color: white;
}

.related {
    display: flex;
    flex-direction: column;
}
